*{
    margin:0;
    padding:0;
    border: 0;
    font-family:Arial;
}

header{

    background-color: #afddfb;
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    margin: auto;
}

.img-logo{
    width:150px;
}

header p{
    text-align: center;
    margin-top:15px;
    margin-bottom: 25px;
}

header a{
    font-size: 18px;
    color: #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 2px solid #1d1d1d;
}

.banner{
    margin-top: 50px;
    padding: 0;
}

div{
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;

}

p {
    margin:10px auto;
    width:980px;
    text-align: justify;
    font-size:18px;
    line-height:28px;
}

span{
    font-weight: bold;
}

.introduction h1{
    color:#1d1d1d;
    margin-bottom:5px;
    
}
.subtitle{
    margin-top: 0;
    color:#1c81c0;
    font-weight: bold;
    margin-bottom: 20px;
}
.img-pattern{
    width:450px;
}

.blue-text p,span{
    color:#1c81c0;
    font-weight: bold;
}

.services, .contact{
    background-color: #1d80c1;
}
.services h2, .contact h2{
    font-size:22px;
    line-height:42px;
    color: #ffff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.services p {
    line-height:42px;
    font-size:22px;
    width:700px;
    text-align: center;
    color: #ffff;
}

.yellow-text {
    font-weight: bold;
    color:yellow;
}

.list{
    width: 135px;
    margin: 40px auto;
}

.item-list{
    font-size: 22px;
    line-height: 42px;
    text-align: left;
    color: #fff;
}

.different-paragraph{
    background-color:black;
    padding:15px;
    margin-top:30px;
    color:white;
    border-radius: 10px;
}

.list-address{
    margin: 40px auto;
    width:210px;
}

.list-style{
    margin-top: 15px;
    text-align: center;
    font-size:18px;
    background-color: white;
    color:#1c81c0;
    padding:5px 10px;
    border-radius:5px;
}